@charset "UTF-8";
body {
    background-color: #FAEBE0;
}

#tudo {
    width: 95%;
    min-height:620px;
    margin: auto;
    background-color: #C9E4C5;
}

#cabecario {
    text-align: center;
    font-size: 1.5em;
    color: #C1AC95;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#adicionarIten {
    margin: auto;
    text-align: center;
    width: 85%;
    height: 100px;
    background-color: #B5CDA3;
}
#adicionar {
    margin-top: 37px;
    width: 50%;
    height: 30px;
}

#itensAdicionados {
    margin: 10px auto;
    width: 85%;
    min-height: 350px;
    display: flex;
    align-content:space-between ;
}
 #lista {
    background-color: #B5CDA3;
    width: 50%;
    text-align: center;
    
}

#soma {
    text-align: center;
    margin-left: 20%;
    width: 20%;
    background-color: #B5CDA3;
    height: 150px;
} 

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.remover {
    background: none;
    border: 0;
    cursor: pointer;
}